:root {
    --base-font-color: rgb(131,148,150);
    --secondary-font-color: rgb(88,110,117);
    --emphasised-font: rgb(147,161,161);

    --c-background-color: rgb(0, 43, 54);
    --c-background-highlights: rgb(7, 54, 66);

    --c-yellow: rgb(181,137,0);
    --c-orange: rgb(203,75,22);
    --c-red: rgb(220,50,47);
    --c-magenta: rgb(108,113,196);
    --c-violet: rgb(108,113,196);
    --c-blue: rgb(38,139,210);
    --c-cyan: rgb(42,161,152);
    --c-green: rgb(133,153,0);
}
body {
    background-color: var(--c-background-color);
}
header,
main,
footer {
    color: var(--base-font-color);
}
header,
footer {
    background-color: var(--c-background-highlights);
}
article a {
    color: var(--c-magenta);
}
a:hover {
    color: var(--c-orange);
}
.subsection {
    border: 3px solid var(--c-cyan);
    padding: 15px;
    margin: 20px 0;
}
header {
    text-align: center;
}

header h1 {
    font-size: 150%;
    color: var(--c-yellow);
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}
aside {
    color: var(--c-green);
}

aside a {
    color: var(--c-red);
}

aside a:hover {
    color: var(--c-blue);
}

body {
    max-width: 800px;
    margin: 0 auto;
}
article h2,
article h3 {
    padding-top: 50px;
}
main {
    display: flex;
    gap: 20px;
}

article {
    flex: 3;
}

aside {
    flex: 1;
}